@page "/Register/"
@using Entity.DTOs.Post
@using StrongmanDudlBLOG.APIConnection
@using StrongmanDudlBLOG.Security
@inject IJSRuntime JSRuntime

<PageTitle>Register</PageTitle>

<h3>Register</h3>
<Form @FormName="RegisterForm" @onsubmit="Test" @onsubmit:preventDefault="true">
    <div>
        <label for="username">Username</label>
        <input @bind="sUsername" />
    </div>

    <div>
        <label for="email">Email</label>
        <input @bind="sEMail" />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" @bind="sPassword" /> @* InputText kann auch für Passwörter verwendet werden, oder InputPassword *@
    </div>

    <button type="submit" disabled="@bIsLoading">
        @if (bIsLoading)
        {
            <span>Registrierung...</span>
        }
        else
        {
            <span>Register</span>
        }
    </button>
</Form>
@*<label>Username</label>
<InputText type="text" @bind-Value="sUsername"/>
<label>Email</label>
<InputText type="email" @bind-Value="sEMail"/>
<label>Password</label>
<InputText type="password" @bind-Value="sPassword"/>
<button @onclick="Test" disabled="@bIsLoading">
    @if (bIsLoading)
    {
        <span>Registrierung...</span>
    }
    else
    {
        <span>Register</span>
    }
</button>*@
    
@if (!string.IsNullOrEmpty(sMessage))
{
    <div class="alert @(bIsSuccess ? "alert-success" : "alert-danger")">
        @sMessage
    </div>
}


@code {
    static string sUsername, sEMail, sPassword, sEncryptedEMail, sEncryptedPassword, sHashedEMail, sHashedPassword;
    bool bIsLoading = false;
    string sMessage = "";
    bool bIsSuccess = false;
    
    private async Task Test()
    {
        Console.WriteLine("Es geht");
        if (string.IsNullOrEmpty(sUsername) || string.IsNullOrEmpty(sEMail) || string.IsNullOrEmpty(sPassword))
        {
            Console.WriteLine($"Felder leer: Username={sUsername}, EMail={sEMail}, Password={sPassword}");
            sMessage = "Please fill in all fields";
            bIsSuccess = false;
            return;
        }

        bIsLoading = true;
        sMessage = "";

        try
        {
            (sEncryptedEMail, sEncryptedPassword) = SecurityHandler.Instance.AESEncrypt(sEMail, sPassword);
            (sHashedEMail, sHashedPassword) = SecurityHandler.Instance.Hash(sEMail + sEncryptedEMail, sPassword + sEncryptedPassword);

            Console.WriteLine($"{sUsername}");
            await JSRuntime.InvokeVoidAsync("console.log", $"{sUsername}");
            await JSRuntime.InvokeVoidAsync("alert", $"Username: {sUsername}");

            PostLoginDTO oDTO = new (sUsername, sHashedEMail, sHashedPassword);
            bool bSuccess = APIService.Instance.PostUser().User(oDTO);

            if (bSuccess)
            {
                sMessage = "Registration successful!";
                bIsSuccess = true;
                sUsername = sEMail = sPassword = "";
            }
            else
            {
                sMessage = "Registration failed. Please try again.";
                bIsSuccess = false;
            }
        }
        catch (Exception e)
        {
            sMessage = $"Error: {e.Message}";
            bIsSuccess = false;
        }
        finally
        {
            bIsLoading = false;
            StateHasChanged();
        }
    }
}