@page "/Register/"
@using System.Diagnostics
@using Entity.DTOs.Post
@using StrongmanDudlBLOG.APIConnection
@using StrongmanDudlBLOG.Security

<PageTitle>Register</PageTitle>

<h3>Register</h3>
<label>Username</label>
<input type="text" bind="@sUsername"/>
<label>Email</label>
<input type="email" bind="@sEMail"/>
<label>Password</label>
<input type="password" bind="@sPassword"/>
<button @onclick="Test">Register</button>
@code {
    string sUsername, sEMail, sPassword, sEncryptedEMail, sEncryptedPassword, sHashedEMail, sHashedPassword;

    private async Task Test()
    {
        (sEncryptedEMail, sEncryptedPassword) = SecurityHandler.Instance.AESEncrypt(sEMail, sPassword);
        (sHashedEMail, sHashedPassword) = SecurityHandler.Instance.Hash(sEMail + sEncryptedEMail, sPassword + sEncryptedPassword);

        Debug.WriteLine("Test-Methode wurde aufgerufen!");
        Debug.WriteLine($"Username: {sUsername}");
        Debug.WriteLine($"Email: {sEMail}");
        Debug.WriteLine($"Password: {sPassword}");
        
        PostLoginDTO oDTO = new PostLoginDTO(sUsername, sHashedEMail, sHashedPassword);
        APIService.Instance.PostUser().User(oDTO);
    }
}