@page "/Register"

<PageTitle>Register</PageTitle>

<h3>Register</h3>
<label>Username</label>
<input type="text" value="@sUsername"/>
<label>Email</label>
<input type="email" value="@sEMail"/>
<label>Password</label>
<input type="password" value="@sPassword"/>
<button>Register</button>
@code {
    string sUsername, sEMail, sPassword;
    
}